RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# /wiki/SayfaAdi → index.php
RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/index.php [L,QSA]

# / → Main Page
RewriteRule ^/*$ %{DOCUMENT_ROOT}/index.php [L,QSA]
